@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  background-color: #f9fafb;
}

.status-dot {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
